<!doctype html>

<html>
  <head>
    <title>Edit Profile</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <!-- this is a comment in HTML -->

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
  </head>
  
  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/homepage">Commutolini</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/homepage"><i class="glyphicon glyphicon-home"></i>Home<span class="sr-only">(current)</span></a></li>
            <li><a href="/schedule"><i class="glyphicon glyphicon-list-alt"></i>Schedule<span class="sr-only">(current)</span></a></li>
            <li><a href="/profile"><i class="glyphicon glyphicon-user"></i>Profile<span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">&nbsp&nbsp&nbspSigned in as <a href="/profile" class="navbar-link">{{currentUser.firstName}} {{currentUser.lastName}}</a></p></li>
            <li><a href="#" id="logoff"><i class="glyphicon glyphicon-off"></i>Log off&nbsp&nbsp&nbsp</a></li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <br><br>


      {{#with (lookup users currentUser.username)}}

        <h1>Edit Profile</h1>
      	<hr>
    	<div class="row">
          <!-- left column -->
          <div class="col-md-3">
            <div class="text-center">
              <img src="{{image}}" class="avatar img-circle" id="editImage"alt="avatar">
              <h6>Upload a different photo...</h6>
              
              <input type="file" class="form-control">
              <br>

              <div class="form-group">
                <label for="comment">About</label>
                <textarea class="form-control" id="profileAbout" rows="4" id="comment">{{about}}</textarea>
              </div>


            </div>
          </div>
          
          <!-- edit form column -->
          <div class="col-md-9 personal-info">

            <div id='alert'>
              
            </div>
            <h3>Personal info</h3>
            
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-lg-3 control-label">First name:</label>
                <div class="col-lg-8">
                  <input class="form-control" id="firstName" type="text" value="{{firstName}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Last name:</label>
                <div class="col-lg-8">
                  <input class="form-control" id="lastName" type="text" value="{{lastName}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Address:</label>
                <div class="col-lg-8">
                  <input class="form-control" id="profileAddress" type="text" value="{{address}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Car:</label>
                <div class="col-lg-8">
                  <input class="form-control" id="profileCar" type="text" value="{{car}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Phone:</label>
                <div class="col-lg-8">
                  <input class="form-control" id="profilePhone" type="text" value="{{phoneNumber}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Email:</label>
                <div class="col-lg-8">
                  <input class="form-control" id="profileEmail" type="text" value="{{email}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Username:</label>
                <div class="col-md-8">
                  <input class="form-control" id="profileUsername" type="text" value="{{username}}" disabled>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Password:</label>
                <div class="col-md-8">
                  <input class="form-control" type="password" value="11111122333">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Confirm password:</label>
                <div class="col-md-8">
                  <input class="form-control" type="password" value="11111122333">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                  <input type="button" id="saveProfile" class="btn btn-primary" value="Save Changes">
                  <span></span>
                  <a href='/profile' class="btn btn-default">Cancel</a>
                </div>
              </div>
            </form>
            {{/with}}
          </div>
      </div>
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/introHCI.js"></script>
    </div>
    <hr>
  </body>
</html>