<!doctype html>

<html>
<head>
	<title>Commutolini</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

	<div class="container">

        <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/homepage">Commutolini</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/homepage"><i class="glyphicon glyphicon-home"></i>Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/schedule"><i class="glyphicon glyphicon-list-alt"></i>Schedule<span class="sr-only">(current)</span></a></li>
        <li><a href="/profile"><i class="glyphicon glyphicon-user"></i>Profile<span class="sr-only">(current)</span></a></li>
      </ul>

    {{#with (lookup users sessions)}}
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">&nbsp&nbsp&nbspSigned in as <a href="/profile" class="navbar-link">{{firstName}} {{lastName}}</a></p></li>
        <li><a href="#" id="logoff"><i class="glyphicon glyphicon-off"></i>Log off&nbsp&nbsp&nbsp</a></li>
      </ul>
    {{/with}}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


	<div class="row profilepage">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile" id="profilewell">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-12">
                    <img src="{{currentUser.image}}{{#unless currentUser.image}}/images/noimage.png{{/unless}}" alt="" class="img-circle img-responsive profilePic" id="profileimg">
                    <div onClick="this.contentEditable='true';" class="profileName"> 
                        <h4>{{currentUser.firstName}} {{currentUser.lastName}}{{#if currentUser.age}}, {{currentUser.age}}{{/if}}  {{#if currentUser.verified}}<i class = 'glyphicon glyphicon-ok-circle'></i>{{/if}}</h4>
                    </div>
                    <div class="profileRating" id="profileRating"> 
                        <i class="glyphicon glyphicon-star-empty" id="starOne"></i><i class="glyphicon glyphicon-star-empty" id="starTwo"></i><i class="glyphicon glyphicon-star-empty" id="starThree"></i><i class="glyphicon glyphicon-star-empty" id="starFour"></i><i class="glyphicon glyphicon-star-empty" id="starFive"></i>
                    </div>
                    <div class="profileDesc" onClick="this.contentEditable='true';"> 
                        <p>{{currentUser.about}}{{#unless currentUser.about}}<br>{{/unless}}</p>
                    </div>
                    <div class="profileEditable"><i class="glyphicon glyphicon-home"></i><p style="display:inline">{{currentUser.address}}</p> <a href="http://www.google.com/maps/search/{{currentUser.address}}"><br>Open in Google Maps</a>
                    </div>
                    <p> </p>
                    <div class="profileLabel">
                        <p><strong>Car: &nbsp </strong></p>
                    </div>
                    <div class="profileEditable" onClick="this.contentEditable='true';"> 
                        <p>{{currentUser.car}}{{#unless currentUser.car}}<br>{{/unless}}</p>
                    </div>
                    <p><strong>Rides: </strong> {{currentUser.rides}} </p>
                    <div id="rating-outside">
                        <figcaption class="ratings">
                                <p><strong>Average rating: </strong>
                                    <div id="rating">
                                        {{#unless currentUser.rating}}<p>Not yet rated</p>{{/unless}}<p id='ratingText'></p><p id='ratingEnd'>/ 5<p>
                                    </div>
                                </p>
                        </figcaption>
                    </div>
                    <div id='checkProfile'>
                    </div>
                </div>             
            </div>          
    	 </div>                
		</div>
		

	</div>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
        <script src="/js/introHCI.js"></script>
</div>

</body>
</html>